.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #0d4629, #41d88c);
}

.list-item:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #000000, #298a59);
  box-shadow: 15px 0 30px var(--yellow-color);
  color: var(--yellow-color);
}

.list-item__name {
  font-weight: 900;
  color: #b4b4b4;
}

.card-list__pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--dark-grey-color);
}

.card-list {
  height: 90vh;
}
