:root {
  --red-color: #ff666680;
  --light-grey-color: #b4b4b4;
  --dark-grey-color: #8080808f;
  --black-color: #000000;
  --yellow-color: #fcff35;
  --blue-color: #3bd1ff;
  --dark-green-color: #0d4629;
  --light-green-color: #41d88c;
}
