body {
    display: flex;
    justify-content: center;
}

.search-field__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 250px;
    height: 10vh;    
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
}

button:hover {
    cursor: pointer;
}