body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-field__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    max-width: 500px;
    height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8080808f;
}

.search-field__input,
.search-field__button {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 1px;
}

.search-field__input {
    color: #3bd1ff;
}

.search-field__input:focus {
    border-color: #3bd1ff;
    outline: none;
    box-shadow: 5px 2px 15px #3bd1ff;
}

.search-field__button {
    color: #fcff35;
    background-color: darkgrey;
}

.search-field__button:active {
    border-color: #ff6666;
    outline: none;
    box-shadow: 5px 2px 15px rgb(255, 102, 102);
}

button:hover {
    cursor: pointer;
}

.list-item {
    padding: 10px 20px;
    margin: 5px 0;
    background: linear-gradient(135deg, #0d4629, #41d88c);
}

.list-item__name {
    font-weight: 900;
    color: #b4b4b4;
}

.logo-name {
    font-weight: 900;
    color: #fcff35;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 480px;
    color: #b4b4b4;
    background-color: black;
    border: 4px solid #fcff35;
}

.loader {
    border: 4px solid rgba(255, 102, 102, 0.5);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #3bd1ff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.reset-button {
    width: 100%;
    padding: 20px 20px;
    border: none; 
    color: #fcff35;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #000000;
    border-radius: 5px;
}